@use "../../scss/breakpoints.scss" as b;
@use "../../scss/functions.scss" as f;

.toggle-menu-overlay {
  background-color: transparent;
  width: 100vw;
  height: 150vh;
  inset: 0 0 0 0;
  position: absolute;
  z-index: 10;
}

.toggle-menu {
  position: absolute;
  top: 120%;
  right: 0%;
  background: var(--dark-theme__white);
  padding: 0 f.rem(30) f.rem(25);
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: f.rem(10);
  color: var(--light-theme__dark);
  z-index: 10;

  .list-wrapper {
    display: flex;
    gap: f.rem(10);
    margin-top: f.rem(25);
    color: var(--light-theme__dark);
    cursor: pointer;

    &.premium {
      color: var(--pri__cyan);
    }

    &.profile {
      text-decoration: none;
    }

    &.logout {
      cursor: pointer;
    }
  }
}
