@use "../../scss/breakpoints.scss" as b;
@use "../../scss/functions.scss" as f;

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 150vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
}

.modal {
  background: var(--light-theme__white);
  padding: 1.4rem;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: f.rem(700);
  width: 95vw;
  border-radius: f.rem(10);

  .title {
    color: var(--pri__cyan);
    font-weight: 600;
  }

  .form {
    margin-top: f.rem(30);

    &__group {
      display: flex;
      flex-direction: column;
      gap: f.rem(10);

      input {
        border-radius: f.rem(8);
        border: 1px solid hsla(240, 27%, 22%, 0.267);
        padding: f.rem(8) f.rem(15);
      }

      label {
        font-size: f.rem(14);
        font-weight: 700;
      }
    }

    &__select {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: f.rem(30);
      width: 100%;

      @include b.mq-up(large) {
        flex-direction: row;
      }

      .form__group {
        margin-top: f.rem(20);

        select {
          border-radius: f.rem(8);
          border: 1px solid hsla(240, 27%, 22%, 0.267);
          padding: f.rem(8) f.rem(15);
          background: transparent;
        }

        @include b.mq-up(large) {
          width: 30%;
        }
      }
    }

    &__btns {
      margin-top: f.rem(30);
      width: 100%;
      display: flex;
      gap: f.rem(10);

      .btn {
        border-radius: f.rem(8);
        cursor: pointer;

        &.cancel {
          background-color: var(--pri__red);
          padding: f.rem(10) f.rem(25);
          color: var(--light-theme__white);

          &.editing {
            border: 1px solid var(--light-theme__dark);
            background-color: transparent;
            color: var(--light-theme__dark);
          }
        }
        &.save {
          padding: f.rem(10) f.rem(25);
          background: transparent;
          border: 1px solid var(--pri__cyan);
          margin-left: auto;

          &.editing {
            background-color: var(--light-theme__dark);
            color: var(--light-theme__white);
          }
        }

        &.add {
          background-color: var(--pri__cyan);
          padding: f.rem(10) f.rem(25);
          color: var(--light-theme__white);
        }
      }
    }
  }
}
