@use "../../scss/breakpoints.scss" as b;
@use "../../scss/functions.scss" as f;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: f.rem(20);
  position: relative;

  @include b.mq-down(large) {
    .toggle {
      cursor: pointer;
      background: none;
      display: block;

      .hamburger {
        height: f.rem(3);
        width: f.rem(25);
        background-color: var(--pri__cyan);
        // background-color: var(--light-theme__dark);
        display: block;
        transform-origin: 0 0;
        transition: transform 400ms ease-in-out;
        border-radius: f.rem(10);
      }

      .hamburger:not(:first-child) {
        margin-top: f.rem(5);
      }

      &.showSidebar {
        .hamburger:nth-child(1) {
          transform: translate(1px, -1px) rotate(45deg);
        }
        .hamburger:nth-child(2) {
          opacity: 0;
          transform: translateX(15px);
        }
        .hamburger:nth-child(3) {
          transform: translate(-1px, 1px) rotate(-45deg);
        }
      }
    }
  }

  @include b.mq-up(large) {
    .toggle {
      display: none;
    }
  }

  .btn {
    outline: none;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background-color: var(--pri__cyan);
    font-family: inherit;
    color: var(--light-theme__white);
    border-radius: 8px;
    cursor: pointer;

    .icon.circle-plus {
      color: var(--light-theme__white);
      margin-right: 10px;
      font-size: 18px;
    }
  }

  .icon.moon {
    font-size: 24px;
    cursor: pointer;
    color: hsla(214, 20%, 21%, 0.483);
    display: none;

    @include b.mq-up(medium) {
      display: block;
    }
  }

  .icon.dark-mode {
    font-size: 24px;
    cursor: pointer;
    color: var(--dark-theme__white);
    display: none;

    @include b.mq-up(medium) {
      display: block;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    > p {
      display: none;
    }

    .icon.arrow-down {
      font-size: 24px;
      color: var(--pri__cyan);
      cursor: pointer;
    }

    @include b.mq-up(medium) {
      p {
        display: block;
      }
    }
  }
}
