@use "../../scss/breakpoints.scss" as b;
@use "../../scss/functions.scss" as f;

.sidebar {
  width: 15%;
  padding: 1.2rem 0 0 1.2rem;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  position: fixed;
  inset: 0 0 0 0;
  display: none;
  z-index: 100;

  @include b.mq-up(large) {
    display: block;
    padding: 1.2rem 0 0 1.8rem;
  }

  .links-wrapper {
    margin-top: f.rem(50);
    position: relative;

    .section-title {
      font-weight: 500;
      color: var(--pri__cyan);
      font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
    }

    .link {
      display: flex;
      align-items: center;
      margin-top: 30px;
      gap: 10px;
      color: var(--light-theme__dark);
      text-decoration: none;
      position: relative;

      &.active {
        .marker {
          width: clamp(1rem, 5vw, 1.5rem);
          height: 18px;
          border-radius: 10px 0 0 10px;
          margin-left: auto;
          background-color: var(--pri__cyan);
          position: absolute;
          top: 0;
          right: 0;
          display: none;

          @include b.mq-up(large) {
            display: block;
          }
        }
      }
    }
  }

  .logout {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
  }
}
